/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #F9F8F8;
}
/* sidebar css */
.sidebar{
    position: fixed;
    top: 20px;
    background: #343232;
    height: 100%;
    width: 260px;
    left: 20px;
    padding: 6px 35px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.sidebar .logo_content .logo_name{
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
    cursor: pointer;
}
.sidebar .logo_content .logo_name span{
    color: yellow;
}
/* nav_list css */
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    list-style: none;
    width: 100%;
    height: 45px;
    position: relative;
    margin: 0 5px;
}
.sidebar ul li a{
    color: #6C6969;
    text-decoration: none;
    font-weight: 500;
}
.sidebar ul li a:hover{
    color: yellow;
    background: #6C6969;
    padding: 5px;
    border-radius: 10px;
    opacity: 1;
}
.sidebar ul li a i{
    font-size: 20px;
}

/* right form add map css*/
.right_formMap{
    width: 90%;
    left: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header_nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.header_nav h2{
    margin-right: 76%;
    font-size: 22px;
}
/* css ul for head_nav */
.header_nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav ul li{
    list-style: none;
    margin-left: 20px;
}
.header_nav ul li a{
    text-decoration: none;
    color: #343232;
}
.header_nav ul li a i{
    font-size: 25px;
}
.header_nav ul li a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    border: 0.5px solid yellow;
}

/* css for form input address of page map*/
section{
    width: 85%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #111;
    background: #EDEBEB;
    border-radius: 15px;
    margin-top: -10%;
}
.map-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    overflow: hidden;
    height: inherit;
}
/* css for form input*/
.form-container{
    padding: 25px;
}
.form-container h3{
    font-size: 15px;
    color: #aaa7a7;
    margin-bottom: 20px;
    margin-left: 54%;
}
.form-container .address-form{
    width: 100%;
}
.form-container .address-form .input_field{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.form-container .address-form .input_field label{
    width: 190px;
    font-weight: 600;
}
.form-container .address-form .input_field .input,
.form-container .address-form .input_field .textarea{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all 0.2s ease;
}
.form-container .address-form .input_field .textarea{
    padding-bottom: 35px;
    resize: none;
}
.form-container .address-form .input_field .input::placeholder,
.form-container .address-form .input_field .textarea::placeholder{
    opacity: 0.5;
}
.form-container .address-form .input_field .custom_select{
    position: relative;
    width: 100%;
}
.form-container .address-form .input_field .custom_select select{
    border: none;
    width: 100%;
    padding: 5px;
    height: 100%;
    border-radius: 8px;
    background-color: #ddd9d9;
}
.form-container .address-form .input_field .input:focus,
.form-container .address-form .input_field .textarea:focus,
.form-container .address-form .input_field select:focus{
    border: 1px solid yellow;
}
.form-container .address-form .input_field .radiobtn{
    display: inline-block;
    margin-left: 8%;
    position: relative;
}
.form-container .address-form .input_field .radio{
    margin-left: 80px;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: yellow;
    content: '✓';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    font-weight: bold;
}

/* css for map */
.map h3{
    font-size: 15px;
    color: #aaa7a7;
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
    position: relative;
}
.map iframe{
    width: 95%;
    height: 80%;
    border-radius: 10px;
}

/* css for button of page map */
.button-map{
    position: absolute;
    margin-top: 32%;
}
.button-map button{
    width: 140px;
    padding: 8px;
    margin-left: 25px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}
.button-map button:hover{
    background: #ffeb3b;
    transition: all 0.4s linear;
}
